<ion-header>

  <ion-navbar color="color-default-system">
    
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Controle Financeiro</ion-title>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->

  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<ion-searchbar [(ngModel)]="dsc" placeholder="Descrição" *ngIf="showSearchbar"></ion-searchbar>-->

  <ion-list>
    <ion-item-sliding *ngFor="let gasto of gastos">
      <ion-item>
        <h1>{{ gasto.data }}</h1>
        <p class="negativo" [ngClass]="{'positivo' : gasto.valor > 0}">R$ {{ gasto.valor }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="detailGasto(gasto)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>