<ion-header>

  <ion-navbar color="color-default-system">
    
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Controle Financeiro</ion-title>

    <!--<ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->

  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--<ion-searchbar [(ngModel)]="dsc" placeholder="Descrição" *ngIf="showSearchbar"></ion-searchbar>-->

  <ion-list>
    <ion-item *ngFor="let gasto of gastos" (click)="detailGasto(gasto)">
      <ion-label class="label label-md">
        <h2>{{ gasto.data }}</h2>
      </ion-label>
      <ion-label style="text-align: right;" class="label label-md">
          <h2 class="negativo" [ngClass]="{'positivo' : gasto.valor >= 0}">R$ {{ gasto.valorFormatado }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>