<ion-header>

    <ion-navbar color="color-default-system">
  
      <ion-title>{{title}}</ion-title>
  
    </ion-navbar>
  
  </ion-header>

<ion-content padding>
    <ion-card>
      <div style="display:flex; flex-direction:column; justify-content:center;">
        <img [src]="captureDataUrl" *ngIf="captureDataUrl">
      </div>
      <div style="text-align: center; background-color: #e6e4e4;" [hidden]="captureDataUrl">
        <ion-icon name="image" style="font-size: 350px; color: #D3D3D3;"></ion-icon>
      </div>
    </ion-card>

    <button ion-button style="width: 100%;" color="danger" [hidden]="!captureDataUrl" (click)="remove()">
      Excluir Imagem
    </button>

    <ion-fab bottom right>
      <button color="color-default-system" ion-fab mini (click)="capture()" *ngIf="!captureDataUrl">
          <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
