.menu-label-format {
    font-family: 'Times New Roman';
    font-size: 30px;
    margin-left: 15px;
    margin-top: 8px;
    text-align: center;
}

.menu-header-format {
    background-color: #FB722D;
    width: 304px;
    height: 40px;
    margin-top: -8px;
}