<ion-header>

  <ion-navbar color="color-default-system">

    <ion-title>{{ title }}</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <div style="margin-top: 15px;">
    <div style="float: right; margin-bottom: -12px;"> 
      <p>Créditos: R$ {{ gasto.valorCredito }}</p>
      <p>Despesas: R$ {{ gasto.valorGasto }}</p>
    </div>
    <ion-item-divider style="margin-top: -17px;"></ion-item-divider>
    <div style="margin-top: 10px; float: right">
      <h1 class="negativo" [ngClass]="{'positivo' : gasto.valor >= 0}">Total: R$ {{ gasto.valor }}</h1>
    </div>
  </div>

  <div padding>
    <ion-segment [(ngModel)]="dadosMesSelect">
      <ion-segment-button value="gasto">
        Gastos
      </ion-segment-button>
      <ion-segment-button value="credito">
        Créditos
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="dadosMesSelect">
    <ion-list *ngSwitchCase="'gasto'">
      <ion-item-sliding *ngFor="let despesa of despesas">
        <ion-item>
          <h2>{{ despesa.dsc }}</h2>
          <h2>{{ despesa.valor }}</h2>
        </ion-item>
      </ion-item-sliding>
      <ion-item *ngIf="despesas.length <= 0 || !despesas">
        Não possui despesas neste mês.
      </ion-item>
    </ion-list>


    <ion-list *ngSwitchCase="'credito'">
      <ion-item-sliding *ngFor="let credito of creditos">
        <ion-item>
          <h2>{{ credito.dsc }}</h2>
          <h2>{{ credito.valor }}</h2>
        </ion-item>
      </ion-item-sliding>
      <ion-item *ngIf="creditos.length <= 0 || !creditos">
        Não possui créditos neste mês.
      </ion-item>
    </ion-list>
  </div>

</ion-content>