<ion-header>

    <ion-navbar color="color-default-system">
  
      <ion-title>{{ title }}</ion-title>
  
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  
    <form [formGroup]="form">
  
      <!-- DESCRIÇÃO -->
      <ion-item>
        <ion-label stacked>Descrição *</ion-label>
        <ion-input type="text" formControlName="dsc"></ion-input>
      </ion-item>
  
      <!-- VALOR -->
      <ion-item>
          <ion-label stacked>Valor *</ion-label>
          <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>
  
      <!-- DATA -->
      <ion-item>
        <ion-label stacked>Data Inicial do Recebimento *</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="data_inicial_recebimento"></ion-datetime>
      </ion-item>
  
      <!-- NÚMERO DE PARCELAS -->
      <ion-item>
        <ion-label stacked>Número de Parcelas *</ion-label>
        <ion-input type="number" formControlName="num_parcela"></ion-input>
      </ion-item>
  
    </form>

    <ion-fab *ngIf="exibirFabBtnOptions" bottom right>
      <button ion-fab mini color="color-default-system"><ion-icon name="arrow-dropup"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab mini color="secondary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">
            <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-fab mini color="danger" [disabled]="!navParams.data.credito" (click)="removeCredito()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab *ngIf="!exibirFabBtnOptions" bottom right>
      <button ion-fab mini color="secondary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">
          <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>

  </ion-content>